header {
    display: flex;
    flex-direction: row!important;
    background-color: #3f51b5;
    padding: 10px;

    div.logo {
        flex: 2;
        color: #fff;
        flex-direction: row;
        display: flex;
    }

    div.search {
        flex: 5;
        text-align: center;
    }

    div.menu {
        flex: 3;
        color: #fff;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            float: right;
            margin: 0;
            padding: 0;

            li {
                margin: 0 15px;
                a {
                    color: #fff;
                }
            }
        }
    }
}